### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

In [3]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [ ]:
#create DF
heroesofpylomi_df = purchase_data
heroesofpylomi_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [5]:
#total number of players from SN column
heroesofpylomi_df['SN'].nunique()

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#Basic Calculations
number_of_items = heroesofpylomi_df['Item Name'].nunique()
average_price = heroesofpylomi_df['Price'].mean()
number_of_purchases = heroesofpylomi_df['Purchase ID'].count()
total_revenue = heroesofpylomi_df['Price'].sum()

#Summary DF
summary_df = pd.DataFrame({
    "Number of Items":[number_of_items],
    "Average Price":[average_price],
    "Number of Purchases":[number_of_purchases],
    "Total Revenue":[total_revenue]
})

In [7]:
#formated with currency style
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
#Gender Count of Players
gender_count = heroesofpylomi_df['Gender'].value_counts()
gender_percent = (heroesofpylomi_df['Gender']).value_counts()/(heroesofpylomi_df['SN'].count())

# Convert to DF
gender_count_df = pd.DataFrame(gender_count)
gender_count_df['Percentage of Players']=gender_percent

#Format to Percent
gender_count_df.style.format({'Percentage of Players': "{:.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
#Purchase
gender_purchases_df = heroesofpylomi_df.groupby('Gender')
player_count = gender_purchases_df['Gender'].count()

#Average Price
avg_price_gender = gender_purchases_df['Price'].mean()

#total purchase value
gender_purchase_sum = gender_purchases_df['Price'].sum()

#average purchase total per person
average_price_by_user_by_gender = gender_purchase_sum / player_count

#Combine calculations into DF
Gender_purchases_summary_df = pd.DataFrame(player_count)
Gender_purchases_summary_df['Average Price by Gender'] = avg_price_gender
Gender_purchases_summary_df['Total Purchases by Gender'] = gender_purchase_sum
Gender_purchases_summary_df['Average User Purchase Price by Gender'] = average_price_by_user_by_gender
Gender_purchases_summary_df

,Gender,Average Price by Gender,Total Purchases by Gender,Average User Purchase Price by Gender
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [39]:
#check max of age for demographics
heroesofpylomi_df['Age'].max()

#bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Segment and sort age values into bins established above
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

#data frame with the added "Age Group" and group it
age_grouped = purchase_data.groupby("Age Group")

#Count total players by age category
total_count_age = age_grouped["SN"].nunique()

#percentages by age category 
percentage_by_age = (total_count_age/player_count) * 100

#data frame with obtained values
age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})

#data frame with no index name in the corner
age_demographics.index.name = None

#percentage with two decimal places 
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [29]:
#purchases by age group
purchase_count_age = age_grouped["Purchase ID"].count()

#average purchase price by age group 
avg_purchase_price_age = age_grouped["Price"].mean()

#Calculate total purchase value by age group 
total_purchase_value = age_grouped["Price"].sum()

#average purchase per person in the age group 
avg_purchase_per_person_age = total_purchase_value/purchase_count_age

#DF with obtained values
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

#DF with no index name in the corner
age_demographics.index.name = None

#Format with currency style
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [16]:
#Group by SN for top spenders analysis
user_purchases_df = heroesofpylomi_df.groupby(['SN'])

#purchase count, average purchase price, and total spent per SN
purchases_by_user = user_purchases_df['Price'].count()
average_purchase_by_user = user_purchases_df['Price'].mean()
total_purchases_by_user = user_purchases_df['Price'].sum()

#combine calculations into DF
user_purchase_summary_df = pd.DataFrame(purchases_by_user)
user_purchase_summary_df['Average Purchase Price per SN']=average_purchase_by_user
user_purchase_summary_df['Total Spent per User']=total_purchases_by_user

#Change "Price" column name
user_purchase_summary_df = user_purchase_summary_df.rename(columns={
    'Price': 'Purchase Count',
})

#Sort Highest to lowest on total purchase value
user_purchase_summary_df=user_purchase_summary_df.sort_values(by=['Total Spent per User'], ascending=False)
user_purchase_summary_df.head(5)

,Purchase Count,Average Purchase Price per SN,Total Spent per User
SN,,,
Lisosia93,5,3.792000,18.96
Idastidru52,4,3.862500,15.45
Chamjask73,3,4.610000,13.83
Iral74,4,3.405000,13.62
Iskadarya95,3,4.366667,13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
# Retrieve the Item ID, Item Name, and Item Price columns:
items_df = heroesofpylomi_df[['Item ID', 'Item Name', 'Price']]
items_df

# Create GroupBy object based upon "Item ID" and "Item Name" columns:
grouped_items_df = items_df.groupby(['Item ID', 'Item Name'])
grouped_items_df.count().head(10)

# Purchase count by item:
purchase_count_by_item = grouped_items_df['Price'].count()
purchase_count_by_item 

# Total purchase value by item:
total_purchase_by_item = grouped_items_df['Price'].sum()
total_purchase_by_item 

# Item price:
item_price=total_purchase_by_item/purchase_count_by_item
item_price

# Most popular items summary data frame:
most_popular_items_df = pd.DataFrame({
    'Purchase Count': purchase_count_by_item,
    'Item Price': item_price,
    'Total Purchase Value': total_purchase_by_item
})

most_popular_items_df.sort_values('Purchase Count', ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [18]:
# Most profitable items summary data frame:
most_profitable_items_df=most_popular_items_df.sort_values('Total Purchase Value', ascending=False).head()
most_profitable_items_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80

## written description of three observable trends based on the data 

- The top age group that spend the most is, 20-24 with average total spend of $1,114.06 with secondary groups falling between 15- 19 of$412.89 and 25-29 of $293.00.

- out of the 576 players 83.59% are males and 14.49% are females 

- the most profitable and popular item with a total purcase value of 59.99 is Final Critic